{{extend 'layout.html'}}
{{block head}}
<link rel="stylesheet" href="{{=URL('static','css/global.css')}}" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"/>
{{end head}}
<div class="note">The Polaris Project
    <br> <span> Advanced Guide Star Search Tool </span>
</div>
<div id="input-form" class="form-modal">
    <form enctype="multipart/form-data" method="POST" action="{{= URL('default', 'search')}}">
        <div class="button" id="pick_by_name" style="color: grey;background-color: white;margin-bottom: 10px;border-color: white;">

        </div>
        <input style="display: none;" class="input" type="text" name="name" placeholder="Target Name" value="vega">
        <input class="input" type="text" name="ra" placeholder="RA: hh mm ss" value="18h36m56.33645s">
        <input class="input" type="text" name="dec" placeholder="DEC: dd mm" value="+38d47m01.2802s">
        <input class="input" type="text" name="rad" placeholder="Radius: mm ss" value="5s"/>
        {{if auth.user_id:}}
            <select class="input" name="cat">
                <option value="USNO-B1">USNO-B1</option>
            </select>
        {{pass}}
        <input class="button" type="submit" value="Submit">
    </form>
</div>

