{{extend 'layout.html'}}
{{block head}}
<link rel="stylesheet" href="{{=URL('static','css/global.css')}}"/>
{{end head}}
<div class="form-modal">
    <form method="GET" action="{{= URL('default', 'search')}}">
        <input class="input" type="text" name="name" placeholder="Target Name">
        <input class="input" type="text" name="ra" placeholder="RA: hh mm ss">
        <input class="input" type="text" name="dec" placeholder="DEC: dd mm">
        <input class="input" type="text" name="equinox" placeholder="Equinox">

        <input class="button" type="submit" value="Submit">
        <a class="back-button" href="{{=URL('default','index')}}">Back</a>
    </form>
</div>

