{{extend 'layout.html'}}
{{block head}}
<link rel="stylesheet" href="{{=URL('static','css/global.css')}}"/>
{{end head}}
<div id="input-form" class="form-modal">
    <form enctype="multipart/form-data" method="POST" action="{{= URL('default', 'search')}}">
        <input style="display: none;" class="input" type="text" name="name" placeholder="Target Name">
        <input class="input" type="text" name="ra" placeholder="RA: hh mm ss">
        <input class="input" type="text" name="dec" placeholder="DEC: dd mm">
        <input class="input" type="text" name="rad" placeholder="Radius: mm ss"/>

        <input class="button" type="submit" value="Submit">
        <a class="back-button" href="{{=URL('default','index')}}">Back</a>
    </form>
</div>

