<html>
    <head>
        <title>Search</title>
        <link href = "{{=URL('static','css/global.css')}}" type ="text/css" rel="stylesheet">
        <script src="{{=URL('static', 'js/vue.js')}}"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


        <!-- Sources for D3 table -->
        <script src="{{=URL('static', 'js/makeTable.js')}}"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">


        <!-- One page website -->
        <link href = "{{=URL('static','css/jquery.fullPage.css')}}" rel="stylesheet" type="text/css">
        <script src="{{=URL('static', 'js/jquery.easings.min.js')}}"></script>
        <script src="{{=URL('static', 'js/jquery.fullPage.min.js')}}"></script>

        <!-- One page script function -->
        <script>
            $(document).ready(function()
            {
                $('#fullpage').fullpage({
                    sectionsColor: ['#FAFAFA', '#FAFAFA', '#FAFAFA', '#FAFAFA', '#FAFAFA'],
                });
            });
        </script>

        <script>
            var posts_url = "{{=URL('default', 'get_posts')}}";
            var add_post_url = "{{=URL('default', 'add_post', user_signature=True)}}";
            var edit_post_url = "{{=URL('default', 'edit_post', user_signature=True)}}";
            var del_post_url = "{{=URL('default', 'del_post', user_signature=True)}}";
            var show_name = false;
        </script>
    </head>
    <body>
        <div id="fullpage">
            <!--1st section-->
            <div class="section">
                <a class="back-button" href="{{=URL('default','index')}}">Back</a>
                <div style="float: right;margin-right: 22%;margin-bottom: 10px;">
                    Approximate Strehl Value: <div class="dynamic" id="strehl"></div>
                </div>

                <div id='container'></div>
                <script>
                    var json_str = '{{=XML(json_dict)}}';

                    console.log(json_str);


                    var arr = JSON.parse(json_str);
                    console.log(arr);


                    var table_plot = makeTable()
                      .datum(arr)
                      .sortBy('mag', true)

                    d3.select('#container').call(table_plot);
                </script>

            </div>

            <!--2nd section-->
            <div class="section">
                <a class="back-button" href="{{=URL('default','index')}}">Back</a>
                <div id="input-form" class="form-modal">
                    <form enctype="multipart/form-data" method="POST" action="{{= URL('default', 'search')}}">
                        <div class="button" id="pick_by_name" style="color: grey;background-color: white;margin-bottom: 10px;border-color: white;">

                        </div>
                        <input style="display: none;" class="input" type="text" name="name" placeholder="Target Name" value="vega">
                        <input class="input" type="text" name="ra" placeholder="RA: hh mm ss" value="18h36m56.33645s">
                        <input class="input" type="text" name="dec" placeholder="DEC: dd mm" value="+38d47m01.2802s">
                        <input class="input" type="text" name="rad" placeholder="Radius: mm ss" value="5s"/>
                        {{if auth.user_id:}}
                            <select class="input" name="cat">
                                <option value="USNO-B1">USNO-B1</option>
                            </select>
                        {{pass}}
                        <input class="button" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>