<html>
    <head>
        <title>Search</title>
        <link href = "{{=URL('static','css/global.css')}}" type ="text/css" rel="stylesheet">
        <script src="{{=URL('static', 'js/vue.js')}}"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


        <!-- Sources for D3 table -->
        <script src="{{=URL('static', 'js/makeTable.js')}}"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
        <link href = "{{=URL('static','css/dataTables.min.css')}}" type ="text/css" rel="stylesheet">

        <!-- Star Map Files -->
        <link href = "{{=URL('static','css/starMap.css')}}" type ="text/css" rel="stylesheet">
        <script src="{{=URL('static', 'js/starMap.js')}}"></script>

        <!-- One page website -->
        <link href = "{{=URL('static','css/jquery.fullPage.css')}}" rel="stylesheet" type="text/css">
        <script src="{{=URL('static', 'js/jquery.easings.min.js')}}"></script>
        <script src="{{=URL('static', 'js/jquery.fullPage.min.js')}}"></script>

        <!-- One page script function -->
        <script>
            $(document).ready(function()
            {
                $('#fullpage').fullpage({});
            });
        </script>

        <script>
            var posts_url = "{{=URL('default', 'get_posts')}}";
            var add_post_url = "{{=URL('default', 'add_post', user_signature=True)}}";
            var edit_post_url = "{{=URL('default', 'edit_post', user_signature=True)}}";
            var del_post_url = "{{=URL('default', 'del_post', user_signature=True)}}";
            var show_name = false;
        </script>

    </head>


    <body>
        <div id="fullpage">
            <!--1st section-->
            <div class="section" id="section1">
                <h1> The Polaris Project </h1>
            </div>




            <!--2nd section-->
            <div class="section" id="section2">
                <div id="input-form" class="form-modal">
                    <form enctype="multipart/form-data" method="POST" action="{{= URL('default', 'search')}}">
                        <div class="button" id="pick_by_name" style="color: grey;background-color: black;margin-bottom: 10px;border-color: white;">

                        </div>
                        <input style="display: none;" class="input" type="text" name="name" placeholder="Target Name" value="vega">
                        <input class="input" type="text" name="ra" placeholder="RA: hh mm ss" value="18h36m56.33645s">
                        <input class="input" type="text" name="dec" placeholder="DEC: dd mm" value="+38d47m01.2802s">
                        <input class="input" type="text" name="rad" placeholder="Radius: mm ss" value="5s"/>
                            <select class="input" name="cat">
                                <option value="USNO-B1">USNO-B1</option>
                            </select>
                        {{pass}}
                        <input class="button" type="submit" value="Submit">
                    </form>
                </div>
            </div>


            <!--3rd section-->
            <div class="section" id="section1">
                <div style="float: right;margin-right: 25%;margin-bottom: 10px;">
                    Approx-ed Strehl Value: <div class="dynamic" id="strehl"></div>
                </div>

                <div id='results_table'></div>

                <script>
                    var json_str = '{{=XML(json_dict)}}';

                    console.log(json_str);


                    var arr = JSON.parse(json_str);
                    console.log(arr);


                    var table_plot = makeTable()
                      .datum(arr)
                      .sortBy('mag', true);

                    d3.select('#results_table').call(table_plot);

                    table_plot.on('highlight', function(data, on_off)
                    {
                      if(on_off)
                      {
                          //if the data is highlighted
                           d3.select('#highlighted');
                      }
                    });

                    table_plot.on('select', function(data, on_off)
                    {
                      if(on_off)
                      {
                          //if the data is highlighted
                        d3.select('#selected');
                      }
                    });

                </script>
                <button id="save_query_button" class="button" align="right"
                        href="{{=URL('default','save_query', user_signature=True)}}">
                    <span>
                        Save this query
                    </span>
                </button>
            </div>

            <!--4th section-->
            <div class="section" id="section2">
                <IFRAME SRC="http://www.sky-map.org/?object=polaris&show_box=1&zoom=5&box_color=yellow&box_width=50&box_height=50" WIDTH=1280 HEIGHT=900></IFRAME>

                <script>

                </script>
            </div>
        </div>
    </body>
</html>