body{
    background-color: white;
}

body * {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
}

#title {color:white}

h1
{
    font-family: "Avenir light";
    font-size: 120px;
}

.table {
    width: 600px;
    margin: 100px auto 20px;
}

.table thead td {
    font-weight: bold;
    border-bottom: solid 1px rgba(0,0,0,0.05);
    padding: 10px;
    width: 25%;
}

.table tbody td {
    padding: 10px;
}

.back-button {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #37A0F3;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 20px 0;
    box-sizing: border-box;
    font-size: 16px;
}

.form-modal {
    width: 350px;
    padding: 20px;
    margin: 10% 5px 15px;
    border: solid 2px rgba(0,0,0,0.1);
    border-radius: 6px;
}

.form-modal .input {
    width: 100%;
    padding: 8px 0px;
    border-radius: 0;
    border: none;
    border-bottom: solid 1px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    font-weight: bold;
    outline: none;
}

.form-modal .input:hover,
.form-modal .input:focus  {
    color: #37A0F3;
    border-color: #37A0F3;
}

.form-modal .button,
.container .button {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    color: white;
    background: #37A0F3;
    border: solid 1px rgba(0,0,0,0.1);
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    /*-webkit-font-smoothing: antialiased;    background: #f0f0f0;*/
}

.container {
    position: fixed;
    width: 340px;
    height: 200px;
    top: 55%;
    left: 30%;
    margin-top: -400px;
    margin-left: -400px;
    border: solid 1px rgba(0,0,0,0.1);

}

#user-input {
    width: 40%;
    float: left;
}

#input-form {
    position: absolute;
    top: 50px;
    right: 500px;
    width: 40%;
    height: 200px;
}



/* Save Query Button */

button#save_query_button {
    margin-right: 10%;
    float: right;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #37A0F3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

td
{
    background-color: white;
}

td.sorting_asc, td.sorting_desc
{
    background-color: #orange;
}


/* Star Map */
path {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

text {
  font: 10px sans-serif;
}

.horizon {
  stroke: #fff;
  stroke-width: 1.5px;
}

.graticule {
  stroke: #fff;
  stroke-opacity: .15;
}

.ticks line {
  stroke: #fff;
}

.ticks text {
  fill: #fff;
  text-anchor: middle;
}

.ticks--right-ascension text:nth-of-type(6n + 1) {
  font-weight: bold;
  font-size: 14px;
}

.stars {
  fill: #fff;
  stroke: #000;
}

.star--active {
  stroke: yellow;
}

.voronoi {
  fill: none;
  pointer-events: all;
}

.cross {
  fill: none;
  stroke: yellow;
  stroke-width: 0.5px;
}


/* Input Range */
input[type="range"]
{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    width: 550px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.15, #a8a8a8)
    );
}

input[type='range']::-webkit-slider-circle
{
    -webkit-appearance: none !important;
    background-color: #E9E9E9;
    border: 1px solid #CECECE;
    height: 15px;
    width: 15px;
}



